.menu {
    display: flex;
    justify-content: center;
    height: 64px;
    padding: 20px;
    background-color: firebrick;
}

.menu .item a {
    color: white;
    text-decoration: none;
}

.menu .icon img {
    width: 64px;
    height: 64px;
}